<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Team</h5>
        <ul class="list-unstyled quick-links">
          <li><a href=""><i class="fa fa-angle-double-right"></i>Advisory Board</a></li>
          <li><a href=""><i class="fa fa-angle-double-right"></i>Management</a></li>
          <li><a href=""><i class="fa fa-angle-double-right"></i>Investor</a></li>
          <li><a href=""><i class="fa fa-angle-double-right"></i>Strategic Partners</a></li>
          <li><a href=""><i class="fa fa-angle-double-right"></i>Development
            Team</a></li>
          <li><a href=""><i class="fa fa-angle-double-right"></i>Sale
            Team</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Community</h5>
        <ul class="list-unstyled list-inline social">
          <li class=""><a href=""><i class="fa fa-facebook"></i>Facebook</a></li>
          <li class=""><a href=""><i class="fa fa-twitter"></i>Twitter</a></li>
          <li class=""><a href=""><i class="fa fa-instagram"></i>Instagram</a></li>
          <li class=""><a href=""><i class="fa fa-linkedin"></i> Linkedin</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Platform</h5>
        <ul class="list-unstyled quick-links">
          <li><a routerLink="home_page"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a routerLink="whychoosus"><i class="fa fa-angle-double-right"></i>Why choose us</a></li>
          <li><a routerLink="faqs"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a routerLink="blog"><i class="fa fa-angle-double-right"></i>Blog</a></li>
          <li><a routerLink="contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
        <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
      </div>
      <hr>
    </div>
  </div>
</section>
