<header class="fixed-top">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom box-shadow bg-dark">
    <h5 class="my-0 mr-md-auto font-weight-normal text-white">The Healthcare Platform</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <label for="email" class="col-md-2" style="color:whitesmoke">Email:</label>
          </div>
          <div class="col-md-4">
            <input type="text" id="email" name="email" placeholder="Enter email here">
          </div>
          <div class="col-md-2">
            <label for="password" class="col-2" style="color:whitesmoke">Password:</label>
          </div>
          <div class="col-md-4">
            <input type="password" id="password" placeholder="Password" name="password">
          </div>
        </div>
      </div>
    </nav>
  </div>

</header>
