.card-body{
  width: 86rem;
  padding: 10%;
  overflow-y: auto;
  background-color: #6a11cb;
}
.btnSignup{
  width: 15%;
  margin-left: 35%;
  background-color: white;
  font-weight: 900;
  font-size: medium;
}
h2{
  color: #6a11cb;
  font-weight: 800;
}
.form-class{
  margin-left:9%;
}
.heading-align{
  margin-right: 15%;
  font-weight: 800;
}
.form-control {
  background-color: white;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  line-height: normal;
  font-size: 0.8571em;
  font-weight: 600;
  box-shadow: none;
  color: black;
}
input::-webkit-input-placeholder {
  color: black !important;
}
