.modal-content{
  margin-top: 50% !important;
  width: 25em;
}
*{
  font-family: 'Poppins', sans-serif !important;
}
.fa {
  display: inline-block !important;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
}
.btn-platform{
  background-color: #6a11cb !important;
}
h1{
  color: #6a11cb;
  font-weight: 700;
}
