<div class="container-fluid find-doctor">
  <div class="row">
    <div class="col-md-12">
      <div class="row container search-container">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <form role="form" class="form-inline">
                <div class="form-group">
                  <label for="yourZipCode">
                    Your Zip Code
                  </label>
                  <input type="text" class="form-control" id="yourZipCode" />
                </div>
                <button type="submit" class="btn btn-primary">
                  Search
                </button>
              </form>
            </div>
            <div class="col-md-6">
              <form role="form" class="form-inline">
                <div class="form-group">
                  <label for="yourlocation">
                    Your location
                  </label>
                  <input type="text" class="form-control" id="yourlocation" />
                </div>
                <button type="submit" class="btn btn-primary">
                  Search
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="row container">
        <div class="col-md-12">
          <div class="jumbotron">
            <h2>
              Find Urgent Care!
            </h2>
            <p>
              Make an informed choice based on symptoms, convenience and cost.
            </p>
            <p>
              <a class="btn btn-primary btn-large" href="#">Search For Urgent Care</a>
            </p>
          </div>
        </div>
      </div>


      <div class="row container">
        <div class="col-md-12">
          <div class="row jumbotron">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                </div>
                <div class="col-md-10">
                  <h3>
                    Dr. Dina Gad <strong><small>(MD)</small></strong>
                  </h3>
                  <p>
                    Dr. Gad is very professional and attentive, and seems highly knowledgeable. I highly recommend her.
                    Weill Cornell Medicine.
                  </p>
                  <address>
                    <strong>NY</strong><br /> 156 William Street<br /> 7th Floor, New York, NY10038<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div>
            </div>
          </div>
          <div class="row jumbotron">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                </div>
                <div class="col-md-10">
                  <h3>
                    Dr. Andrew Fagelman <strong><small>(MD)</small></strong>
                  </h3>
                  <p>
                    I love the nurse students here. So professional!!.
                  </p>
                  <address>
                    <strong>NY</strong><br /> 155 Spring St.<br /> 4th Floor, New York, NY10038<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div>
            </div>
          </div>
          <div class="row jumbotron">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                </div>
                <div class="col-md-10">
                  <h3>
                    Dr. Dina Gad <strong><small>(MD)</small></strong>
                  </h3>
                  <p>
                    Dr. Gad is very professional and attentive, and seems highly knowledgeable. I highly recommend her.
                    Weill Cornell Medicine.
                  </p>
                  <address>
                    <strong>NY</strong><br /> 156 William Street<br /> 7th FloorNew York, NY10038<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div>
            </div>
          </div>
          <div class="row jumbotron">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                </div>
                <div class="col-md-10">
                  <h3>
                    Dr. Dina Gad <strong><small>(MD)</small></strong>
                  </h3>
                  <p>
                    Dr. Gad is very professional and attentive, and seems highly knowledgeable. I highly recommend her.
                    Weill Cornell Medicine.
                  </p>
                  <address>
                    <strong>NY</strong><br /> 156 William Street<br /> 7th FloorNew York, NY10038<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
