<main role="main">
  <section class="home-section">
    <div class="col-12 row">
      <div class="col-md-7" style="margin-top: 6%;">
        <img src="../../../assets/The-Platform-Home-Main.png" width="700" height="575" alt="finance-photo">
      </div>
      <div class="col-md-5" style="margin-top: 14%;">
        <h4>Welcome to,</h4>
        <h1 class="">The Platform</h1>
        <h4>We are saving lives.</h4>
        <p>Your body has a lot to tell you, now you can finally start listening...
          Estimating the health condition individually with early identification of high risk.</p>
        <div><a routerLink="/apply" class="heading-font"><h4 class="heading-font">CHECK YOUR HEALTH NOW <i
          class="fas fa fa-chevron-circle-right"></i></h4></a></div>
        <div><a routerLink="../findDoctor" class="heading-font"><h4 class="heading-font">CHECK NEAR BY DOCTOR NOW <i
          class="fas fa fa-chevron-circle-right"></i></h4></a></div>
        <div><a routerLink="../findHospital" class="heading-font"><h4 class="heading-font">CHECK NEAR BY HOSPITAL NOW <i
          class="fas fa fa-chevron-circle-right"></i></h4></a></div>
      </div>
    </div>
  </section>
  <section class="platform-unique">
    <div class="row">
      <div class="col-lg-6">
          <img class="image-human" src="../../../assets/The-Platform-human-image (1).png" alt="Card image cap">
      </div>
      <div class="col-lg-6 saving-lives" >
        <h2 class="heading-font">AWESOME FEATURES</h2>
        <p>We help you to visualize your Lab Reports with the help<br> of analytics, charts and statistics,
          Once your  data is uploaded,<br>  your results will provide you with personalized  recommendations <br>
          As per analysis on User lab data.</p>
        <h4 class="heading-font"><i class="fas fa fa-chevron-circle-right mr-2"></i> VERIFIED ALGORITHM</h4>
        <h4 class="heading-font"><i class="fas fa fa-chevron-circle-right mr-2"></i> EFFECTIVE DATASETS</h4>
    <h4 class="heading-font"><i class="fas fa fa-chevron-circle-right mr-2"></i> SUPER-FRIENDLY SUPPORT TEAM</h4>
    </div>
    </div>
  </section>
  <section class="platform-second container-fluid">
    <div class="row mt-5">
      <div class="col-md-6">
        <img class="image-human1" src="../../../assets/The-Platform-human-image (1).png" alt="Card image cap">
      </div>
      <div class="col-md-6">
        <img class="image-human1" src="../../../assets/The-Platform-human-image (1).png" alt="Card image cap">
      </div>
      <div class="col-md-6">
        <img class="" src="../../../assets/The-Platform-human-image (1).png" alt="Card image cap">
      </div>
      <div class="col-md-6">
        <img class="" src="../../../assets/The-Platform-human-image (1).png" alt="Card image cap">
      </div>
    </div>
  </section>
</main>
<!--<app-footer></app-footer>-->
