<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>
            <span>Diabetes</span>!
          </h1>
          <p>
            Diabetes is a serious, lifelong condition where your blood glucose level is too high. There are two main types,<a href="#">Type 1</a>and<a href="#">Type 2</a>. They’re different conditions, but they’re both serious. There are some other <a href="#">rarer types of diabetes</a> too.
          </p>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow first">
                  What is Type 1 diabetes
                  <div class="card-body">
                    <p class="card-text">What is Type 1 diabetes?
                      Type 1 diabetes is a serious, lifelong condition where your blood glucose level is too high because your body can't make a hormone called insulin.</p>
                    <p>
                      <a class="btn btn-info btn-large" href="#">Learn more</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  What is Type 2 diabetes
                  <div class="card-body">
                    <p class="card-text">
                      What is Type 2 diabetes?
                      Type 2 diabetes is a serious, lifelong condition where the insulin your pancreas makes can’t work properly, or your pancreas can’t make enough insulin.</p>
                    <p>
                      <a class="btn btn-primary btn-large" href="#">Learn more</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow first">
                  Gestational diabetes
                  <div class="card-body">
                    <p class="card-text">
                      Gestational diabetes is a type of diabetes that affects pregnant women, usually during the second or third trimester. Women with gestational diabetes don’t have diabetes before their pregnancy, and after giving birth it usually goes away. In some women diabetes may be diagnosed in the first trimester, and in these cases the condition most likely existed before pregnancy.</p>
                    <p>
                      <a class="btn btn-primary btn-large" href="#">Learn more</a>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <p>
            <a class="btn btn-primary btn-large" href="#">Learn more</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
