           <br>
           <h1 class="text-center"><strong>Check Diabetes</strong></h1>
          <br>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="apply-form"  name="applicationForm">
            <div class="row">

              <div class="col-md-6 col-md-6">
                <div  class="form-group">
                  <input type="text" formControlName="firstName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" [(ngModel)]="user.firstName" name="firstName"  placeholder="First Name"/>
                <div  *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
                </div>
              </div>

              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"  [(ngModel)]="user.lastName" name="lastName"  placeholder="Last Name"/>
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1"  formControlName="pregnancy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pregnancy.errors }" [(ngModel)]="user.pregnancy"  name="pregnancy" placeholder="Pregnancy"/>
                  <div *ngIf="submitted && f.pregnancy.errors" class="invalid-feedback">
                    <div *ngIf="f.pregnancy.errors.required">It is required field</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1"  formControlName="glucose" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.glucose.errors }" [(ngModel)]="user.glucose"  name="glucose" placeholder="Glucose"/>
                  <div *ngIf="submitted && f.glucose.errors" class="invalid-feedback">
                    <div *ngIf="f.glucose.errors.required">It is required field</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1"  formControlName="bloodpressure" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bloodpressure.errors }" [(ngModel)]="user.bloodpressure" name="bloodpressure" placeholder="Blood Pressure"/>
                  <div *ngIf="submitted && f.bloodpressure.errors" class="invalid-feedback">
                    <div *ngIf="f.bloodpressure.errors.required">It is required field</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1"  formControlName="skinThickness" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.skinThickness.errors }" [(ngModel)]="user.skinThickness" name="skinThickness" placeholder="Skin Thickness"/>
                  <div *ngIf="submitted && f.skinThickness.errors" class="invalid-feedback">
                    <div *ngIf="f.skinThickness.errors.required">It is required field</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1"  formControlName="insulin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.insulin.errors }" [(ngModel)]="user.insulin" name="insulin" placeholder="Insulin"/>
                  <div *ngIf="submitted && f.insulin.errors" class="invalid-feedback">
                    <div *ngIf="f.insulin.errors.required">It is required field</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1"  formControlName="bmi" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bmi.errors }" [(ngModel)]="user.bmi" name="bmi" placeholder="BMI"/>
                  <div *ngIf="submitted && f.bmi.errors" class="invalid-feedback">
                    <div *ngIf="f.bmi.errors.required">It is required field</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1"  formControlName="diabetesPedigreeFunction" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.diabetesPedigreeFunction.errors }" [(ngModel)]="user.diabetesPedigreeFunction" name="diabetesPedigreeFunction" placeholder="Diabetes Pedigree Function"/>
                  <div *ngIf="submitted && f.diabetesPedigreeFunction.errors" class="invalid-feedback">
                    <div *ngIf="f.diabetesPedigreeFunction.errors.required">It is required field</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-6">
                <div class="form-group">
                  <input type="number" min="1" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" [(ngModel)]="user.age" name="age" placeholder="Age"/>
                  <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                    <div *ngIf="f.age.errors.required">It is required field</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-6">
              <a href="apply/apply-bulk"><span>Apply in bulk!</span></a>
            </div>
              <div class="col-md-6 text-right">
              <a href="apply/upload-file"><span>Upload File</span></a>
            </div>
            </div>

            <div class="text-center">
              <div class="form-group"> <button class="btn btn-primary btn-round"  (click)="applyForm()">SUBMIT</button></div>
            </div>

          </form>



