
<!--<app-root></app-root>-->

<main role="main" class="mt-5">

  <section class="home-section">
    <div class="col-12 row ">
      <div class="col-4">
        <img src="../../../assets/Healthcare.jpg"  width="300" height="400" alt="finance-photo">
      </div>
      <div class="col-4 p-5">
        <h1>The <br> Healthcare <br> Platform!</h1>
        <p >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
        <div><a href="/apply" class="btn btn-primary btn-round "><span>Check your health now</span></a></div>
      </div>
      <div class="col-4 p-3">
        <h1>Create an account</h1>
        <div class="form-group">
        <input type="text" id="fname" name="fname" placeholder="First Name" class="col-lg-5 m-2 mr-3">
          <input type="text" id="lname" name="lname" placeholder="Last Name" class="col-lg-5 m-2"></div>
          <input type="text" name="email" id="email" placeholder="Enter email" class="col-lg-12 input-group-lg pt-2 m-2 form-control">
          <input type="password" name="pwd" id="pwd" placeholder="New Password" class="col-lg-12 input-group-lg pt-2 m-2 form-control">
          <button class="btn btn-primary dropdown-toggle btn-md form-control" type="button" name="day" data-toggle="dropdown">Hospital
              <span class="caret-down"></span></button>
            <ul class="dropdown-menu">
              <li>Docter</li>
              <li>Pesent</li>
              <li>hospital</li>
            </ul>
		  <h3>Birthday:</h3>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle btn-md form-control" type="button" name="day" data-toggle="dropdown">Day
              <span class="caret-down"></span></button>
            <ul class="dropdown-menu">
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle btn-md form-control" type="button" name="month" data-toggle="dropdown">Month
              <span class="caret-down"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Jan</a></li>
              <li><a href="#">Feb</a></li>
              <li><a href="#">March</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle btn-md form-control" name="year" data-toggle="dropdown">Year
            <span class="caret-down"></span></button>
          </div><br><br>
            <label class="radio-inline m-1"><input type="radio" name="optaradio">Male</label>
            <label class="radio-inline m-1"><input type="radio" name="optaradio">Female</label>
            <label class="radio-inline m-1"><input type="radio" name="optaradio">Other</label>
            <button type="submit" class="btn-md col-4 btn btn-primary btn-round" onclick="#" name="submit">Submit</button>
            </div>

         <!-- <select>
          <option *ngfor="let day of days">{{day}}</option>
          </select> -->
        </div>

  </section>





</main>


<!--<app-customer-says></app-customer-says>-->
<!--<app-news></app-news>-->
<app-search-tool></app-search-tool>
<app-guide-diabetes></app-guide-diabetes>
<app-features></app-features>
<app-footer></app-footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


