
<!--<app-root></app-root>-->

<main role="main" class="mt-5">

  <section class="home-section">
    <div class="col-12 row ">
      <div class="col-4">
        <img src="../../../assets/Healthcare.jpg"  width="300" height="400" alt="finance-photo">
      </div>
      <div class="col-6 p-5">
        <h1>AI Driven <br> Healthcare <br> Platform!</h1>
        <p >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
        <div><a href="/apply" class="btn btn-primary btn-round "><span>Check your health now</span></a></div>
      </div>
    </div>
  </section>

  <section class="home-section">
    <div class="col-12 row">
      <div class="col-2"></div>
      <div class="col-6 p-5 ">
        <h1 class="text-right">AI Driven <br> Finance <br> Platform!</h1>
        <p class="text-left" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
        <div  class="text-right"><a href="/#" class="btn btn-primary btn-round action-btn"><span>Call to Action</span></a></div>
      </div>
      <div class="col-4  text-right">
        <img src="../../../assets/finance.jpg"  width="300" height="400" alt="finance-photo">
      </div>
      <!--<div class="container">-->
      <!--<h1 class="jumbotron-heading">Album example</h1>-->
      <!--<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>-->
      <!--<p>-->
      <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
      <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
      <!--</p>-->
      <!--</div>-->
    </div>
  </section>




</main>

<app-features></app-features>
<app-customer-says></app-customer-says>
<app-footer></app-footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


