
.btn-round {
  border-width: 1px;
  border-radius: 30px;
  padding: 11px 23px;
}

.action-btn{
  width: 42%;
}



/*----------------------------------------*/

/*  15. Footer Area
/*----------------------------------------*/
