<div class="album py-5 bg-light">
  <div class="container">
    <div class="text-center"><h1>Search tool</h1></div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-6 box-shadow first">
          Find a doctor near you
          <div class="card-body">
            <p class="card-text">Need to make a primary care doctor appointment this week? Use The platform to find doctors near you who take your insurance. It’s simple, secure and free.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="find-doctor" class="btn btn-sm btn-outline-secondary">Find</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-6 box-shadow">
          Find a hospital near you
          <div class="card-body">
            <p class="card-text">Need hospital? Use The platform to find hospital near you who take your insurance. It’s simple, secure and free.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Find</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
